fastapi
uvicorn
python-dotenv
requests
google-generativeai
pydantic
pydantic_settings
langchain_groq 
langchain_community 
langchain-mongodb
langchain_google_genai
qdrant-client
pymongo[srv]>=4.6.0
certifi>=2024.0.0
